<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Construcciones JJ{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <h1>CONSTRUCCIONES JJ</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/proyectos">Proyectos</a>
            <a href="/quienes">Quiénes somos</a>
            <a href="/contactos">Contactos</a>
            <a href="/productos">Productos</a>
            
        </nav>
    </header>

    <hr>

    {% block content %}
    {% endblock %}

    <hr>

    <footer>
        <p>© 2026 Construcciones JJ</p>
    </footer>

</body>
</html>