
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

h3 {
    color: brown;
}

p {
    color: black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}


form {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

input {
    margin-bottom: 5px;
}